body {
    background-color: rgb(214, 214, 214);
    font-family: articulat-cf, sans-serif;
    padding: 1.5%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    width: max-content;
    padding: 0 20pt 0 0;
}

.hidden {
    display: none;
}

/* breadcrumb */

 #breadcrumb ul{
    padding: 10px 16px;
    list-style: none;
    background-color: rgb(233, 233, 233);
  }
  
  #breadcrumb ul li {
    display: inline;
    font-size: 18px;
  }
  
  #breadcrumb ul li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #575757;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    background-color: #bebebe;
  }

  