body {
    background-color: rgb(214, 214, 214);
    font-family: articulat-cf, sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    width: max-content;
    padding: 0 20pt 0 0;
}

.hidden {
    display: none;
}